{% extends "base.html" %}
{% load static %}
{% block 'body' %}
<div class="flex justify-center items-center text-white w-full h-screen">
    <div class="h-3/4 w-1/2 max-w-xl flex flex-col justify-center gap-1 items-center border border-cyan-500 rounded-xl shadow-lg shadow-cyan-600">
        <h1 class="font-Poetsen mt-8 text-center text-2xl drop-shadow-2xl">New Password</h1>
        
        <div class="h-1/2 w-3/4 flex flex-col content-center justify-center">

            <form 
                action="{% url 'change_password' uidb64=uid token=token %}" 
                method="post" 
                class="h-full flex flex-col justify-items-start items-center gap-y-6 font-Lato"
            >
                {% csrf_token %}

                    <div id="email-out" class="h-10 w-full mt-5 flex">
                        {% if messages %}
                            {% for message in messages  %}
                                <section class="w-full h-full text-sm leading-9 text-gray-200 text-center {{message.tags}} border rounded-xl">{{message}}</section>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <label for="" class="w-full font-semibold">New password</label>
                    <input 
                        type="password" 
                        name="new_password" 
                        id="" 
                        class="w-full h-10 pl-2 text-gray-300 tracking-widest bg-transparent border rounded-md border-cyan-600 hover:border-cyan-400 focus:border-cyan-500 focus:ring-cyan-500 focus:ring-1 focus:outline-none resize-none"
                        placeholder="Type your new password..." 
                    />


                    <label for="" class="w-full font-semibold">Confirm your password</label>
                    <input 
                        type="password" 
                        name="confirm_password" 
                        id=""
                        class="w-full h-10 pl-2 text-gray-300 tracking-widest bg-transparent border rounded-md border-cyan-600 hover:border-cyan-400 focus:border-cyan-500 focus:ring-cyan-500 focus:ring-1 focus:outline-none resize-none"
                        placeholder="Confirm your password..." 
                    />
                   </div>

                   <div 
                        class="w-3/4 h-24 my-8 flex flex-col justify-center items-center content-center"
                    >
                        <input 
                            type="submit" 
                            value="Register"
                            class="w-full h-12 cursor-pointer bg-cyan-500 shadow-lg shadow-cyan-500/50 text-base hover:text-lg hover:text-backgroundBody hover:bg-cyan-400 transition ease-in-out delay-150 duration-200 rounded-md"
                        />

                    </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock 'body' %}
